
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/montserrat/montserrat-v14-latin-regular.eot');
    src: local('Montserrat Regular') local('Montserrat-Regular'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-regular.woff2') format('woff2'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-regular.woff') format('woff'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-regular.ttf') format('truetype'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/montserrat/montserrat-v14-latin-700.eot');
    src: local('Montserrat Bold') local('Montserrat-Bold'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-700.woff2') format('woff2'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-700.woff') format('woff'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-700.ttf') format('truetype'),
        url('/assets/fonts/montserrat/montserrat-v14-latin-700.svg#Montserrat') format('svg');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/merriweather/merriweather-v21-latin-regular.eot');
    src: local('Merriweather Regular') local('Merriweather-Regular'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-regular.woff2') format('woff2'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-regular.woff') format('woff'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-regular.ttf') format('truetype'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-regular.svg#Merriweather') format('svg');
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/merriweather/merriweather-v21-latin-700.eot');
    src: local('Merriweather Bold') local('Merriweather-Bold'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-700.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-700.woff2') format('woff2'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-700.woff') format('woff'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-700.ttf') format('truetype'),
        url('/assets/fonts/merriweather/merriweather-v21-latin-700.svg#Merriweather') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/raleway/raleway-v14-latin-regular.eot');
    src: local('Raleway') local('Raleway-Regular'),
        url('/assets/fonts/raleway/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/raleway/raleway-v14-latin-regular.woff2') format('woff2'),
        url('/assets/fonts/raleway/raleway-v14-latin-regular.woff') format('woff'),
        url('/assets/fonts/raleway/raleway-v14-latin-regular.ttf') format('truetype'),
        url('/assets/fonts/raleway/raleway-v14-latin-regular.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/raleway/raleway-v14-latin-700.eot');
    src:local('Raleway Bold') local('Raleway-Bold'),
        url('/assets/fonts/raleway/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/raleway/raleway-v14-latin-700.woff2') format('woff2'),
        url('/assets/fonts/raleway/raleway-v14-latin-700.woff') format('woff'),
        url('/assets/fonts/raleway/raleway-v14-latin-700.ttf') format('truetype'),
        url('/assets/fonts/raleway/raleway-v14-latin-700.svg#Raleway') format('svg');
}
