
@import 'fonts';
@import 'media';

* {
    padding: 0;
    margin: 0;
}

.header {
    background: #eff0f2;
}

.wrapper {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

.logo {
    padding-top: 63px;
}

.shopno {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 805px;
    background: #eff0f2;

    &_title {
        font-family: "Montserrat", sans-serif;
        font-size: 45px;
        font-weight: 700;
        line-height: 70px;
        color: #505050;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        filter: drop-shadow(3.517px 8.285px 5px rgba(0, 0, 0, 0.24));
    }

    &--bg {
        padding: 5px 10px;
        background: #a5e1dd;
    }

    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 232px;
        height: 53px;
        margin: auto;
        margin-top: 140px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: #000;
        letter-spacing: 2px;
        cursor: pointer;
        background: #eff0f2;
        background-image: linear-gradient(to left, transparent, transparent 50%, #a5e1dd 50%, #a5e1dd);
        background-position: 100% 0;
        background-size: 200% 100%;
        border: 2px solid #000;
        border-radius: 2px;
        outline: none;
        transition: all 0.5s ease-in;

        &:hover {
            color: #fff;
            background-position: 0 0;
        }
    }

    &_image {
        position: relative;
        display: flex;
        justify-content: flex-end;

        &--glass {
            position: absolute;
            bottom: 20px;
            filter: hue-rotate(137deg) saturate(66%);
        }

        &--cork {
            border-radius: 7px;
        }
    }
}

.about {
    padding-bottom: 160px;
    background: #f8fafa;

    &_work {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &--table {
            filter: drop-shadow(0 0 15px rgba(20, 20, 21, 0.13));
        }

        &--text {
            width: 475px;
        }
    }
}

.title {
    padding-top: 130px;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 34px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.subtitle {
    padding-top: 20px;
    padding-bottom: 147px;
    font-family: "Merriweather", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.work {
    &_title {
        padding-bottom: 30px;
        font-family: "Merriweather", sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &_description {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000;
        text-align: justify;
        letter-spacing: 0.7px;

        &--text {
            display: block;
            padding-top: 43px;
            padding-bottom: 43px;
        }
    }

    &_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 120px;
    }

    &_picture {
        width: 32.5%;
        margin-bottom: 13px;
        cursor: pointer;
    }
}

.team {
    box-sizing: border-box;
    padding-bottom: 160px;
    background: #f9fbfb;

    &_block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.person {
    position: relative;
    width: 32.5%;

    &_description {
        position: absolute;
        bottom: 6%;
        left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 74%;
        height: 50%;
        padding: 2% 9%;
        background: #6ff6eb;
        opacity: 0;
    }

    &:hover &_description {
        opacity: 1;
        transition: .5s linear;
    }

    &_photo {
        display: flex;
        width: 100%;
        margin-bottom: 13px;
        cursor: pointer;
    }

    &_description::before {
        position: absolute;
        top: -20px;
        left: 20px;
        content: '';
        border-right: 10px solid transparent;
        border-bottom: 20px solid #6ff6eb;
        border-left: 10px solid transparent;
    }

    &_name {
        font-family: "Merriweather", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #272727;
        text-align: center;
        letter-spacing: 1px;

        &--career {
            font-family: "Merriweather", sans-serif;
            font-size: 15px;
            font-weight: 700;
            color: #749693;
        }
    }

    &_text {
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000;
    }
}

.socials {
    display: flex;
    list-style: none;
}

.social {
    &_icon {
        display: inline-block;
        margin-right: 25px;
        margin-bottom: 10px;

        &--facebook {
            background-image: url(/assets/img/facebook.svg);
        }

        &--twitter {
            background-image: url(/assets/img/twitter.svg);
        }

        &--pinterest {
            background-image: url(/assets/img/pinterest.svg);
        }

        &--message {
            background-image: url(/assets/img/message.svg);
        }

        &--ball {
            background-image: url(/assets/img/ball.svg);
        }

        &--footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 40px;
            margin-right: 10px;
            margin-bottom: 10px;
            background: #424648;

            &:hover {
                background: #6eeee4;
                transition: .5s linear;
            }
        }
    }
}

.icon {
    position: absolute;
    width: 15px;
    height: 15px;
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
    background-repeat: no-repeat;
}

.contact {
    min-height: 525px;
    padding-top: 120px;
    padding-bottom: 60px;
    background-image: linear-gradient(transparent, #f9fbfb), url(/assets/img/christmas.jpg);
    background-repeat: no-repeat;
    background-position: 60% 60%;
    background-size: cover;

    &_content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 614px;
    height: 460px;
    padding-top: 10px;
    background-color: #021623;
    opacity: 0.7;

    &_input {
        margin-right: 35px;
        margin-left: 35px;
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 31px;
        color: #fff;
        cursor: pointer;
        background-color: #021623;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;

        &--textarea {
            height: 135px;
            resize: none;
        }
    }

    &_submit {
        width: 244px;
        height: 53px;
        margin-right: 35px;
        margin-left: 35px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: #000;
        letter-spacing: 2px;
        cursor: pointer;
        background-color: #6eeee4;
        background-image: linear-gradient(to left, transparent, transparent 50%, #6eeee4 50%, white);
        background-position: 100% 0;
        background-size: 200% 100%;
        border-radius: 2px;
        outline: none;
        transition: all 0.5s ease-in;

        &:hover {
            background-position: 0 0;
        }
    }
}

.info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 460px;
    padding: 30px 22px 20px;
    background-color: #021623;
    opacity: 0.7;

    &_item {
        display: block;
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1px;
        color: #fff;
        list-style: none;

        &:nth-child(4) {
            padding-bottom: 20px;
        }

        &--link {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #6eeee4;
                transition: 0.5s linear;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 316px;
    background: #262b2e;

    &_title {
        padding-bottom: 20px;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #fff;
        text-transform: uppercase;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);

    &_content {
        display: block;
        width: 35%;
        margin: auto;
        animation-name: zoom;
        animation-duration: 1s;
    }

    &_close {
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
        transition: 0.3s;

        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}

.map-responsive {
    width: 100%;
}

.hide {
    display: none;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
